# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Project specifics
models/
data/input/*.mp4
data/input/*.avi
data/output/embeddings/*
data/output/images/*
data/db/*.db
logs/*.log
logs/entries/
logs/exits/

# Exclude gitkeeps from ignore rule
!**/.gitkeep

# IDEs
.idea/
.vscode/
*.swp
*.swo

# InsightFace models
~/.insightface/
